.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.contact-title {
    position: relative;
}

.contact-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
    text-decoration: underline;
}

.contact-section {
    display: flex;
    gap: 150px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-left h1 {
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(270deg, #DF8908 80%, #B415FF 106%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #D8D8D8;
    font-size: 22px;
}

.contact-detail {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.contact-right label {
    color: #D8D8D8;
    font-size: 22px;
    font-weight: 500;
}

.contact-right input {
    border: none;
    width: 700px;
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-family: 'outfit';
    font-size: 20px;
}

.contact-right textarea {
    width: 650px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-family: 'outfit';
    font-size: 20px;
}

.contact-submit {
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    font-size: 22px;
    padding: 20px 60px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-submit:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

@media (max-width: 768px) {
    .contact {
        margin: 40px 20px; 
        gap: 40px;
    }

    .contact-title h1 {
        font-size: 2.5rem; 
        padding: 0 10px;
        text-align: center;
    }

    .contact-section {
        flex-direction: column; 
        gap: 40px;
        align-items: center;
    }

    .contact-left h1 {
        font-size: 2.2rem; 
        text-align: center;
    }

    .contact-details {
        font-size: 1rem;
        gap: 20px;
        align-items: center;
    }

    .contact-detail {
        gap: 8px;
        text-align: center;
    }

    .contact-right {
        width: 100%; 
    }

    .contact-right label {
        font-size: 1rem;
    }

    .contact-right input,
    .contact-right textarea {
        max-width: 500px; 
        font-size: 1rem;
    }

    .contact-submit {
        font-size: 1rem;
        padding: 15px 40px;
    }
}

@media(max-width:580px) {
     .contact-right input,
    .contact-right textarea {
        width: 100%;
        max-width: 500px; 
        font-size: 1rem;
    }
}
