.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero img{
    margin-top: 150px;
    width: 320px;
    height: 300px;
    border-radius: 50%;
}

.hero h1 {
    text-align: center;
    width: 70%;
    font-size: 90px;
    font-weight: 600;
}

.hero h1 span {
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.hero-action {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect {
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    cursor: pointer;
}

.hero-resume {
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
}

.hero-connect:hover {
    border: 2px solid white;
}

.hero-resume:hover {
    border-color: #B415FF;
}

.hero-resume {
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 50px;
    background: linear-gradient(267deg, #4a90e2, #007aff);
    color: white;
    font-size: 18px;
    transition: transform 0.2s ease;
}
.hero-resume:hover {
    transform: scale(1.05);
}


.resume-modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex; align-items: center; justify-content: center;
    z-index: 999;
}
.resume-modal-content {
    position: relative; 
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    width: 90%;
}

.close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 50px;
    font-weight: bold;
    color: #fbf7f7;
    cursor: pointer;
    transition: color 0.2s ease;
}
.close:hover {
    color: red;
}

.download-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    background: #ff9800;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.download-btn:hover {
    background: #e68900;
}


@media(max-width:768px) {
    .hero img {
        margin-top: 120px;
        width: 280px;
    }
    .hero h1 {
        margin-top: 30px;
        width: 90%;
        font-size: 50px;
    }
    .hero p {
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .hero-action {
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .hero-connect {
        padding: 20px 30px;
        border-radius: 40px;
    }
    .hero-resume {
        padding: 20px 50px;
        border-radius: 40px;
    }
}